body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #1d2b64, #f8cdda);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  width: 400px;
  z-index: 2; 
}

input[type="number"], button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

#guess-input {
  width: 60%;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#reset-btn.hidden {
  display: none;
}

#feedback {
  font-size: 18px;
  margin-top: 10px;
  animation: none; 
}

#leaderboard {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

#leaderboard tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#name-section {
  text-align: center;
}

#player-name {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  width: 50%;
}

#start-btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#start-btn:hover {
  background-color: #45a049;
}

.pulse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1; 
}

.pulse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.greenpulse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: chartreuse;
  border-radius: 50%;
}

.redpulse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

.bluepulse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
}

.yellowpulse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
      transform: scale(4);
      opacity: 1;
  }
  50% {
      transform: scale(14.5);
      opacity: 0.5;
  }
  100% {
      transform: scale(4);
      opacity: 1;
  }
}
